$color-yellow-bot:#c3df47;
$color-white:#fff;

//color hunt pallet.......
$color-primary:#F5F5F5;
$color-secondary:#48CFCB;
$color-tertiary:#229799;
$color-quaternary:#424242;
$color-btn:#71caf3;
//end of pallet.......

$grid-width:125rem;
$gutter-horizental:2.5rem;
$gutter-vertical:5rem;