.composition{
    position: relative;

    &__img{
        width: 48.5%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
        //border-radius: 2px;
        position: absolute;
        transition: all 0.2s;
        outline-offset: 1.2rem;
        z-index: 3;
        animation: MoveUp 2s ;

        &--p2{
            left: 45%;
            top: 2.5rem;
        }

        &--p1{
            right: 35%;
            top: 10rem;
        }

        &:hover{
            border-radius: 0;
            outline: 1rem solid $color-gray-OL;
            transform: scale(1.1) translateY(-0.5rem);
            box-shadow: 0 2rem 4rem rgba($color-tertiary, 0.6);
            z-index: 6;
        }
    }
    &:hover &__img:not(:hover){
        transform: scale(0.95);

    }
}

