.u-center-text{text-align: center;}

.u-mb-l{margin-bottom: 4rem;}
.u-mb-m{margin-bottom: 2rem;}
.u-mb-s{margin-bottom: 1rem;}

.u-mt-l{margin-top: 4rem;}
.u-mt-m{margin-top: 2rem;}
.u-mt-s{margin-top: 1rem;}

